<!DOCTYPE html>
<html lang="en">
        <head>
          <meta charset="UTF-8">
          <title>Welcome</title>
        </head>
    <body>
        <h1>Welcome to QuotingDojo</h1>
        <form action = "/quotes" method="POST">
            Your name: 
            <input type="text" name="name">
            <br>
            <br>
            Your qoute: 
            <textarea type="text" name="quote"></textarea>
            <br><br>
            <input type="submit" value="Add my qoutes!">
        </form>
        <a href="/quotes">Skip to quotes!</a>
    </body>
</html>